<%- include('./partials/header') %>

<h1><a href="/playlists">Spotify</a></h1>

<a href="/playlists?filter=spotify">Spot</a>
<a href="/playlists?filter=apple">Apple</a>
<a href="/playlists?filter=sound">Sound</a>




<%- include('./partials/footer') %>