<%- include('./partials/login') %>

<h1 class="head" id="rainbow-text">U Feel Me?</h1>


<div class="rainbow-text">

   <div class="login" id="faded">
      <a href="/auth/google">LOGIN</a>
   </div>
</div>










<%- include('./partials/footer') %>