<%- include('./partials/login') %>

<h1 class="head">U Feel Me?</h1>



   <div class="login" id="faded">
        <a href="/auth/google"> LOGIN</a>
   </div>










<%- include('./partials/footer') %>