<%- include('./partials/header') %>

<h1><a href="/playlists">Spotify</a></h1>

<a href="/playlists?filter=Spotify">Spot</a>
<a href="/playlists?filter=Apple">Apple</a>
<a href="/playlists?filter=Sound">Sound</a>




<%- include('./partials/footer') %>