
body {
	background-image: url('https://i.imgur.com/dFYWwTN.gif');
	font-family: Montserrat, sans-serif;
    background-size: cover;
	background-position: center;
	min-height: 100vh;
	
}
.login {
	display: flex;
    justify-content: center;
    margin-top: 50%;
}

.login a {
	font-size: 50px;
    border: 2px solid grey;
    border-radius: 7px;
    border-color: grey;
    color: black;
    text-decoration: none;
    padding: 10px;
}

#faded {
	animation: fadeIn 5s;
	animation-delay: 5s;
	opacity: 0;
	animation-fill-mode: forwards;
	
  }
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  