* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
    background-image: url('http://assets.stickpng.com/images/580b57fcd9996e24bc43c537.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h1 {
	color: #F26F23
}

a {
  color: #00B7FF;
}

.site {
	position: absolute;
	left: 14px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}

.nav {
	background-color: #ff5009;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35px;
	width: 100%;
	/* margin: auto; */
}


.login img {
  width: 14px;;
  object-fit: contain;
}

.playlist-container {
	background-color: #231E39;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
    color: #B3B8CD;
    padding: 30px 0 0;
    /* position: relative; */
    /* width: 75%; */
    height: 500px;
    /* max-width: 100%; */
    width: 300px;
    text-align: center;
    margin: 20px 0;
    /* overflow: hidden; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;

}




.container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 600px;
	height: 200px;
	max-width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	/* margin: auto; */
	display: flex;
	
}

th {
	
	width: 800px;
	
}


.review-table {
	table-layout: fixed;
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	height: 500px;
	max-height: 500px;
	width: 800px;
	display: block;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#pfp {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#date {
	text-align: center;
	
}

td {
	text-align: center;
}
.avatar {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.embed {
	width: 500px;
	height: 700px;
}