* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	background-image: url('https://www.freepnglogos.com/uploads/spotify-logo-png/file-spotify-logo-png-4.png');
	/* background-color: green; */
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	
}

a {
  color: #00B7FF;
}

.site {
	color: green;
	position: absolute;
	left: 14px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	
}

.nav {
	background-color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35px;
	width: 100%;
	/* margin: auto; */
}


.login img {
  width: 14px;;
  object-fit: contain;
}

.playlist-container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 75%;
	height: 750px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 50%;
	justify-content: center;

}




.container {
    background-color: #231E39;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
    color: #B3B8CD;
    padding: 30px 0 0;
    /* position: relative; */
    width: 777px;
    max-width: 100%;
    text-align: center;
	
}

.avatar {
	border-radius: 50%;
}