* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right top, #211830, #433874, #22eae0, #e60efe, #9d0ffd);
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	
}
h1 {
	color: #e60efe;
}

a {
  color: #00B7FF;
}

.nav {
	background-color: #46e97f;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35px;
	width: 100%;
	/* margin: auto; */
}


.login img {
  width: 14px;;
  object-fit: contain;
}

.tabs {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
    margin: auto;
}
.spot {
	height: 300px;
	width: 100%;
	background-image: url('https://c.tenor.com/iczjaEFdW20AAAAC/spotify-music.gif');
	/* background-size: cover; */
	background-size: 100% 300px;
	background-position: center;
	text-align: center;

}
.apple {
	height: 300px;
	width: 100%;
	background-image: url('https://c.tenor.com/uE_iP7QhGv0AAAAC/apple-music-apple.gif');
	/* background-size: cover; */
	background-size: 100% 300px;
	background-position: center;
	text-align: center;

}
.sound {
	height: 300px;
	width: 100%;
	background-image: url('https://i.gifer.com/95lB.gif');
	background-size: 100% 300px;
	/* background-size: cover; */
	background-position: center;
	text-align: center;

}


.playlist-container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 75%;
	height: 750px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 50%;
	justify-content: center;

}




.container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 750px;
	height: 750px;
	max-width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
	overflow: hidden;
	
}

.avatar {
	border-radius: 50%;
}


