* {
	box-sizing: border-box;
}

body {
	background-image: url('https://wallpaperaccess.com/full/3914441.jpg');
	font-family: Montserrat, sans-serif;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	
}
h1 {
	color: black;
}

a {
  color: #00B7FF;
}

.site {
	position: absolute;
	left: 14px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	
}

.nav {
	background-color: #333;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35px;
	width: 100%;
	/* margin: auto; */
}


.login img {
  width: 14px;
  object-fit: contain;
}

.tabs {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	justify-content: center;
    margin: auto;
}
.spot {
	height: 300px;
	width: 300px;

	background-image: url('https://thewebinarvet-wordpress.s3.amazonaws.com/uploads/2020/02/spotify-logo.png');
	/* background-size: cover; */
	/* background-size: 100% 300px; */
	background-position: center;
	text-align: center;
	border-radius: 15%;

}


.apple {
	height: 300px;
	width: 300px;
	background-image: url('https://cutewallpaper.org/24/apple-music-icon-png/1826410612.jpg');
	/* background-size: cover; */
	background-size: 100% 300px;
	background-position: center;
	text-align: center;
	border-radius: 15%;

}
.sound {
	height: 300px;
	background-image: url('https://iconarchive.com/download/i54067/danleech/simple/soundcloud.ico');
	background-size: 100% 300px;
	/* background-size: cover; */
	background-position: center;
	text-align: center;
	border-radius: 15%;

}


.playlist-container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 75%;
	height: 750px;
	max-width: 100%;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 50%;
	justify-content: center;

}

.container {
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 500px;
	height: 100px;
	max-width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	/* margin: auto; */
	display: flex;
	
}

th {
	
	width: 800px;
	
}

.review {
	font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
  width: 231px;
  height: 20px;

}

.review-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
}


.review-table {
	table-layout: fixed;
	background-color: #231E39;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	height: 500px;
	max-height: 500px;
	width: 800px;
	display: block;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#pfp {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#date {
	text-align: center;
	
}

td {
	text-align: center;
}
.avatar {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}



