<%- include('../partials/header') %>

<div class="tabs">

    <h1 class="spot">
        <a href="/playlists?filter=Spotify">Spotify</a>
    </h1>
    <h1 class="apple">
        <a href="/playlists?filter=Apple">Apple</a>
    </h1>
    
    <h1 class="sound">
        <a href="/playlists?filter=Sound">Soundcloud</a>
    </h1>
</div>









<%- include('../partials/footer') %>