<%- include('../partials/select') %>

<h1 id="rainbow-text" class="selection">Select A Streaming Service Below</h1>

<div class="tabs">

    <h1>
        <a href="/playlists?filter=Spotify"><img class="spot" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Spotify_App_Logo.svg/1024px-Spotify_App_Logo.svg.png" alt="spotify"></a>
        
    </h1>
    <h1>
        <a id="apl"href="/playlists?filter=Apple"><img class="apple" src="https://cutewallpaper.org/24/apple-music-icon-png/1826410612.jpg" alt="apple"></a>
       
    </h1>
    
    <h1>
        <a href="/playlists?filter=Sound"><img class="sound" src="https://iconarchive.com/download/i54067/danleech/simple/soundcloud.ico" alt="soundcloud"></a>
    </h1>
</div>









<%- include('../partials/footer') %>