<%- include('../partials/header') %>



<a href="/playlists?filter=Spotify">Spot</a>
<a href="/playlists?filter=Apple">Apple</a>
<a href="/playlists?filter=Sound">Sound</a>









<%- include('../partials/footer') %>