<%- include('../partials/header') %>


<form id="add-playlist" action="/playlists" method="POST">
    <label>Playlist Name:</label>
    <input type="text" name="name">
    <label>Born:</label>
    <input type="date" name="born">
    <input type="submit" value="Add Performer">
  </form>



<%- include('../partials/footer') %>